.header-inner{
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    background-color: $lightBlue;
    
}

.menu-top {
    display: flex;
    align-items: center;
    background-color: $navy;
    height: 42px;
    
    &__logo {
        margin-left: 130px;
    }
    
    &__link{
        text-decoration: none;
        color: $white;
    }
    
    &__link--logo {
        border: 1px solid $pink;
        background: $pink;
        color: $white;
        padding: 9px 55px;
        text-transform: uppercase; 
         
    }

    &__list {
        display: flex;
        width: 900px;
    }
       
 }

.menu-top__element {
    list-style: none;
    flex-grow: 1;
    align-items: center;
    background-image: url(img/sprite-nav.png);
  
    
    &--bookmarks {
        background-position: -267px -17px ;
        width: 14px;
        height: 16px;
    }  
    
    &--basket {
        background-position: -167px -18px ;
        width: 15px;
        height: 15px;
    }

    
 }
