.header-inner{
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    background-color: $lightBlue;
}

.menu-top {
    display: flex;
    

   


     &__link--logo {
         border: 1px solid $pink;
         background: $pink;
         color: $white;
         padding: 9px 55px;
         text-transform: uppercase; }

      &__list {
        display: flex;

     }
       
 }
 .menu-top__element {
    list-style: none;
    background: url(img/sprite-nav.png);

    &--search {
        background-position: -16px -15px ;
        width: 17px;
        height: 17px;}

    &--bookmarks {
        background-position: -267px -17px ;
        width: 14px;
        height: 16px;
    }    
    
 }
