.menu-bottom {
    width: 940px;
    background-color: $navy;
    height: 55px;
    margin-left: 130px;
    
    
    &__link {
        @include headerLink;
    }

    &__list {
        display: flex;
        align-items: center;

    }
    
    
    &__element {
        flex-grow: 1;
        list-style: none;
    
}

}
