@mixin headerLink {
    text-decoration: none;
    color: $white;
}

@mixin btnFont{
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18/14);
    text-transform: uppercase;
}

@mixin titleLg {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    font-weight: 400;
    color: $navy;
}

@mixin titleXl {
    font-size: 36px;
    line-height: calc(30/36);
    text-transform: uppercase;
}

@mixin btnPrice {
    font-family: 'pt sans', sans-serif;
    font-size: 17px;
    line-height: calc(18/17);
    font-weight: 700;
    color: $white;
    position: relative;
    width: 125px;
    height: 38px;
    border-radius: 3px;
    border: none;
    background-color: $pink;
    

    &::after {
        content: "";
        position: absolute;
        border-left: 26px solid transparent;
        border-right: 26px solid $pink;
        border-bottom: 26px solid transparent;
        top: -3px;
        left: 89px;
        transform: rotate(45deg);
    }
}

@mixin btnToBuy {
    @include btnFont;
    color: $white;
    border: 1px solid $green;
    border-bottom: 3px solid $darkGreen;
    background-color: $green;
    border-radius: 3px;  
    padding: 9px 45px 7px 46px;
}

@mixin btnInMarks {
    @include btnFont;
    color: $navy;
    border: 3px solid $green;
    border-radius: 2px;
    padding: 7px 32px;
}

@mixin linkPink {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $pink;
    border-radius: 5px;
    background-color: $pink;
    color: $white;
}