$baseColor: red;
$pink: #ee3643;
$white: #ffffff;
$black: #000000;
$navy: #32425c;
$darkBlue: #293449;
$lightBlue: #f4f7f9;
$yellow: #ffbf47;
$biege: #f1c77e;
$blue: #3bbce3;
$purple: #dc91d8;
$green: #8ed78f;
$darkGreen: #63a63e;
$lightBiege: #f9f5f0;