.AEG, .bosch, .DeWALT, .Hitachi, .interskol, .LG, .Makita, .Metabo{
	background: url(sprites.png) no-repeat;
}

.AEG{
	background-position: -353px -156px ;
	width: 151px;
	height: 96px;
}

.bosch{
	background-position: -33px -56px ;
	width: 126px;
	height: 37px;
}

.DeWALT{
	background-position: -352px -53px ;
	width: 146px;
	height: 44px;
}

.Hitachi{
	background-position: -8px -155px ;
	width: 169px;
	height: 31px;
}

.interskol{
	background-position: -534px -30px ;
	width: 200px;
	height: 88px;
}

.LG{
	background-position: -191px -157px ;
	width: 121px;
	height: 73px;
}

.Makita{
	background-position: -202px -56px ;
	width: 123px;
	height: 40px;
}

.Metabo{
	background-position: -524px -156px ;
	width: 204px;
	height: 69px;
}

