.car, .medal, .money{
	background: url(sprites.png) no-repeat;
}

.car{
	background-position: 0 0;
	width: 468px;
	height: 261px;
}

.medal{
	background-position: 0 -300px ;
	width: 389px;
	height: 283px;
}

.money{
	background-position: -456px 0;
	width: 465px;
	height: 285px;
}

